html {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: Geometric;
    src: url(../fonts/geometric/geometric.otf);
}

.dark-blue {
    background-color: #00589C;
}
.dark-blue-font {
    color: #00589C;
}

.main-header {
    background-size: cover;
    background: url(../img/cover2.jpg) center;
    height: 100vh;
    min-height: 600px;
    color: white;
    position: relative;
}

.primary-overlay {
    background: rgba(63, 57, 77, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-header .showcase {
    padding-top: 110px;
}

.scroll-icon {
    position: absolute;
    animation-duration: 3s;
    bottom: 5%;
    left: 47%;
    opacity: 0.5;
}

.solid {
    transition: background-color 2s ease 0s;
}

.trans {
    transition: background-color 2s ease 0s;
}

.box {
    padding: 40px 10px !important;
    height: 53vh;
}

.box h4 {
    padding-bottom: 10px;
}

.p-size {
    font-size: 16px;
}

.spacing {
    padding-bottom: 1rem;
}

.section-contact {
    position: relative;
}

.section-contact .card-panel {
    position: relative;
    z-index: 1;
}

#googlemap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.carousel .indicators .indicator-item {
    background-color: #00589C !important;
    height: 12px !important;
    width: 12px !important;
    margin: -5px 4px !important;
}

.card-title {
    padding: 1rem !important;
}

.space-top {
    padding-top: 2rem;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 2px 0;
}

.height {
    height: 500px !important;
}

.carousel.carousel-item.  {
    height: 150px !important;
}
.shadow {
    text-shadow: .2rem .5rem .8rem black;
}

.geometric {
    font-family: Geometric;
}

/* media optimization */
@media (max-width: 600px) {
    .main-header {
        height: 50vh;
    }
}
